<mat-toolbar class="header">
    <div class="header__wrapper" *ngIf="auth.user | async as user">
        <span>Whitepage Generator</span>

        <div class="header__user">
            <span>{{user.username}}</span>

            <button mat-icon-button
                    matTooltip="Выйти"
                    (click)="auth.logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>

<div class="whitepage">
    <div class="container">
        <h2 class="whitepage__title">Whitepage Input Data</h2>

        <div class="whitepage__row">
            <app-whitepage-hand title="Product 1" (setData)="setData($event, 1)"></app-whitepage-hand>
            <app-whitepage-hand title="Product 2" (setData)="setData($event, 2)"></app-whitepage-hand>
            <app-whitepage-hand title="Product 3" (setData)="setData($event, 3)"></app-whitepage-hand>
            <app-whitepage-hand title="Product 4" (setData)="setData($event, 4)"></app-whitepage-hand>
        </div>

        <br>
        <mat-divider></mat-divider>
        <br>
        <button mat-flat-button (click)="onSubmit()">Generate</button>
    </div>
</div>
