<section class="auth__sect">
    <div class="auth__wrapper">
        <h3 class="auth__title">Authorization</h3>

        <form autocomplete="off" class="auth__form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- Login -->
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input type="text" matInput formControlName="username">
                <mat-error>Required field!</mat-error>
            </mat-form-field>
            <!-- Password -->
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error>Required field!</mat-error>
            </mat-form-field>
            <br>
            <button mat-flat-button color="accent">Accept</button>
        </form>

    </div>
</section>
